body {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-gap: 100px;
  padding: 30px;
  font-family: -apple-system;
  font-size: 14px;
}

html.swap-pane-is-open::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: black;
  opacity: 0.5;
}

.Pane {
  background-color: #ffffff;
  padding: 60px 30px 30px 30px;
  transition: transform 300ms ease;
}

.Pane.is-active {
  background-color: #aea;
}

.Pane-closeBtn,
.Pane-expandBtn {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: 10px;
  text-align: center;
  background: none;
  appearance: none;
  border: 0;
  font-size: 18px;
}

.Pane-expandBtn {
  right: 10px;
}

.Pane-closeBtn {
  left: 10px;
}

.Pane-closeBtn::before {
  content: '❎'
}

.Pane-expandBtn::before {
  content: '↗'
}

a:link,
a:visited {
  color: blue;
  text-decoration: none;
}

nav,
#layout,
.Pane-content,
form {
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  grid-gap: 8px;
}

.Confirm {
  display: none;
}

.Confirm.is-active {
  display: block;
  background-color: #aea;
}
